@model Tennis4.Models.Player

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Player</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelephoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelephoneNumber)
        </dd>
    </dl>
</div>

<div>
    <table class="table">
        <tr>
            <th>
                Competition
            </th>
            <th>
                Row number
            </th>
            <th></th>
        </tr>
@foreach (Tennis4.Models.PlayerPositionModel item in ViewBag.PlayerPosition)
{
    <tr>
        <td>
            @item.CompetitionName
        </td>
        <td>
            @item.RowNumber
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "CompetitionEnrollment", new { id = item.CompetitionEnrollmentID }, null) |
            @Html.ActionLink("Details", "Details", "CompetitionEnrollment", new { id = item.CompetitionEnrollmentID }, null) |
            @Html.ActionLink("Delete", "Delete", "CompetitionEnrollment", new { id = item.CompetitionEnrollmentID }, null)
        </td>
    </tr>
}
</table>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
