@model Tennis4.Models.Result

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Result</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Match.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Match.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreSet1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreSet1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreSet2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreSet2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreSet3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreSet3)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
