@model IEnumerable<Tennis4.Models.MatchesAndResults>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MatchID)
        </th>
        <th>
            Player 1
        </th>
        <th>
            Player 2
        </th>
        <th>
            Score
        </th>        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MatchID)
        </td>
        @foreach (var player in item.PlayerResult)
        {
            <td>
                @player.PlayerFullName
            </td>
        }
        @foreach (var player in item.PlayerResult)
        {
            <td>
                @player.ScoreSet1
            </td>
        }
         
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>*@
    </tr>
}

</table>
