@model Tennis4.Models.CompetitionRow

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CompetitionRow</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Competition.CompetitionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Competition.CompetitionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RowNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RowNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
