@model IEnumerable<Tennis4.Models.PlayerViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "EnrollmentView", FormMethod.Get))
{
    <div>
        Competition:
        <span>
            @Html.DropDownList("competitionId", ViewBag.competitionId as SelectList, new { id = "Competition" })
        </span>
    </div>
    <div id="RoundDiv">
        Round: 
        <span>
            <select id="roundId" name="roundId"></select>
            @*@Html.DropDownList("roundId", ViewBag.roundId as SelectList)*@
        </span>
    </div>
    <input type="submit" value="Submit" id="Submit"/>
}

<table class="table">
    <tr>
        <th>
            Competition Row
        </th>
        @for (int i = 0; i < ViewBag.Capacity; i++)
        {
            <th>
                Player
            </th>
            <th>
                Score
            </th>
        }
    </tr>

    @foreach (Tennis4.Models.RowViewModel row in ViewBag.RowsAndIds)
    {
        <tr>
            <td>
                @row.RowNumber
            </td>
            @foreach (var item in row.ListPlayerIds)
            {
                <td>
                    @foreach (Tennis4.Models.PlayerViewModel player in ViewBag.Players)
                    {
                        if (item == player.PlayerID)
                        {
                            @player.PlayerFullName
                        }
                    }
                </td>
                <td>
                    @foreach (Tennis4.Models.PlayerViewModel player in ViewBag.Players)
                    {
                        if (item == player.PlayerID)
                        {
                            @player.ScoreSet1
                        }
                    }
                </td>
            }
        </tr>
    }
</table>

<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="@Url.Content("~/Scripts/GetRoundFromCompetition.js")"></script>
