@model Tennis4.Models.CompetitionEnrollment

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CompetitionEnrollment</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @*@Html.LabelFor(model => model.Player, "Player", new { @class = "control-label col-md-2" })*@
            @Html.Label("Player", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("PlayerID", ViewBag.PlayerID as SelectList, string.Empty)
                    @*@Html.ValidationMessageFor(model => model.PlayerID)*@
                </div>
</div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.CompetitionRow, "CompetitionRowID", new { @class = "control-label col-md-2" })*@
            @Html.Label("Competition name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("CompetitionListID", String.Empty)*@
                @Html.DropDownList("CompetitionListID", ViewBag.CompetitionListID as SelectList, String.Empty, new { id = "Competition" })
                @*@Html.ValidationMessageFor(model => model.CompetitionRowID)*@
            </div>
        </div>

        <div class="form-group" id="RowDivID">
            @Html.Label("Row", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="Row" name="CompetitionRowID"></select>
            </div>
        </div>
        @*<input type="submit" value="Submit" />*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.CompetitionRowID, "CompetitionRowID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CompetitionRowID", String.Empty)
                @Html.DropDownList("Row", new SelectList(string.Empty, "ID", "RowNumber"), string.Empty, new { style = "width:250px", @class = "dropdown1" })
                @Html.ValidationMessageFor(model => model.CompetitionRowID)
            </>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" id="SubmitID" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="@Url.Content("~/Scripts/CompetitionRow.js")"></script>