@*@model IEnumerable<Tennis4.Models.CompetitionEnrollment>*@
@model Tennis4.Models.ModelCast

@{
    //var FirstName = (ViewBag.PlayerPosition as Tennis4.Models.PlayerPosition).FirstName;
    //var LastName = (ViewBag.PlayerPosition as Tennis4.Models.PlayerPosition).LastName;
    //var CompetitionName = (ViewBag.PlayerPosition as Tennis4.Models.PlayerPosition).CompetitionName;
    //var RowNumber = (ViewBag.PlayerPosition as Tennis4.Models.PlayerPosition).RowNumber;
     
    ViewBag.Title = "Index";
     
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Competition Name
        </th>
        <th>
            Row Number
        </th>
        <th></th>
    </tr>

@*@foreach (var item in Model) {*@
@foreach (Tennis4.Models.PlayerPositionModel item in Model.PlayerPositions) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.Player.FirstName)*@
            @item.FirstName
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Player.LastName)*@
            @item.LastName
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.)*@
            @item.CompetitionName
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.CompetitionRow.RowNumber)*@
            @item.RowNumber
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompetitionEnrollmentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CompetitionEnrollmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompetitionEnrollmentID })
        </td>
    </tr>
}

</table>
